---
import { Image } from 'astro:assets';
import avatar from "../assets/avatar.png";
import Button from "../components/button.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Yunoxa</title>
		<meta content="Yunoxa" property="og:title" />
		<meta content="Click if you dare." property="og:description" />
		<meta content="https://www.yunoxa.moe" property="og:url" />
		<meta content="/src/assets/avatar.png" property="og:image" />
		<meta content="#FFC0CB" data-react-helmet="true" name="theme-color" />
	</head>
	<body>
		<div>
			<div class="md:grid md:grid-cols-3 md:gap-2 mx-12 drop-shadow-3xl">
                <div></div>
				<div class="hover:drop-shadow-2xl transition duration-500 text-center bg-gradient-to-br from-stone-600 to-stone-700 my-10 md:w-[35rem] sm:w-full justify-self-center rounded-3xl py-4 px-6 align-center justify-center">
					<div class="divide-y divide-stone-700">
						<div class="grid justify-center content-center">
							<Image class="size-48 border p-2 m-8 rounded-[300px]" src={avatar} alt="Image of Yui Funami."></Image>
							<p class="text-5xl text-white font-medium">Yunoxa</p>
							<p class="text-gray-300 font-light py-4">Welcome to my website~</p>
						</div>
						<div>
							<p class="text-3xl text-white py-4 font-medium">About</p>
							<p class="text-gray-300 font-light pb-4">I'm a hobbyist musician, developer and sound designer. You can look below to find links to my content and profiles.</p>
						</div>
					    <div>
							<p class="text-3xl text-white py-4 font-medium">Links</p>
							<div class="grid grid-cols-3 justify-items-center gap-y-4 gap-x-1">
								<div class="flex-auto">
									<Button
										imagePath="/src/assets/button/blog.png"
										text="Blog"
										URL="https://blog.yunoxa.moe/"
									>
								</div>
								<div class="flex-auto">
									<Button
										imagePath="/src/assets/button/music.png"
										text="Music"
										URL="https://linktr.ee/yunoxa"
									>
								</div>
								<div class="flex-auto">
									<Button
										imagePath="/src/assets/button/listenbrainz.jpg"
										text="ListenBrainz"
										URL="https://listenbrainz.org/user/Yunoxa/"
									>
								</div>
								<div class="flex-auto">
									<Button
										imagePath="/src/assets/button/steam.png"
										text="Steam"
										URL="https://steamcommunity.com/id/Yunoxa/"
									>
								</div>
								<div class="flex-auto">
									<Button
										imagePath="/src/assets/button/github.png"
										text="Github"
										URL="https://github.com/Yunoxa"
									>
								</div>
								<div class="flex-auto">
									<Button
										imagePath="/src/assets/button/x.jpg"
										text="X"
										URL="https://x.com/Yunoxaa"
									>
								</div>
								<div class="flex-auto">
									<Button
										imagePath="/src/assets/button/misskey.webp"
										text="Misskey"
										URL="https://misskey.io/@yunoxa"
									>
								</div>
								<div class="flex-auto">
									<Button
										imagePath="/src/assets/button/youtube.jpg"
										text="YouTube"
										URL="https://www.youtube.com/channel/UCwJsiNUbnwdrDsFqxl0U56A"
									>
								</div>
								<div class="flex-auto">
									<Button
										imagePath="/src/assets/button/twitch.png"
										text="Twitch"
										URL="https://www.twitch.tv/yunoxa"
									>
								</div>
								<div class="flex-auto">
									<Button
										imagePath="/src/assets/button/anidb.jpg"
										text="AniDB"
										URL="https://anidb.net/user/1040772/profile"
									>
								</div>
								<div class="flex-auto">
									<Button
										imagePath="/src/assets/button/manga_updates.jpg"
										text="Manga Updates"
										URL="https://www.mangaupdates.com/member/y1vj63e/yunoxa"
									>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<style>
		body {
			height: 100%;
			background-image: url("../assets/bg.png");
			background-position: center;
			background-repeat: no-repeat;
			background-attachment: fixed;
			background-size: cover;
		}
	</style>
</html>
